# Django settings
SECRET_KEY=your_secret_key_here
DEBUG=True

# PostgreSQL Database settings
POSTGRES_DB=kitobxon
POSTGRES_USER=kitobxon_user
POSTGRES_PASSWORD=kitobxon_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Celery settings
CELERY_BROKER_URL=redis://redis:6379/0

# Email settings
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password

# CSRF settings (Ixtiyoriy, vergul bilan ajratib yoziladi)
CSRF_TRUSTED_ORIGINS=https://example.com,https://test.ngrok.app
